// =========RESET=============
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
// ======================
.container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 800px;
    min-height: 100vh;
    // background-color: #ddd;
    padding: 1rem;
    .form{
        display: flex;
        flex-direction: column;
        padding: 2rem;
        label{
            color: grey;
        }
        .row{
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid grey;
            padding-bottom: 5px;
            input{
                border: none;
                font-size: 1.5rem;
            }
            .btn-wrapper{
                .button{
                    font-size: 1.2rem;
                    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
                    padding: 2px 8px;
                    border-radius: 4px;
                    &:hover {
                        color: #f85904;
                        cursor: pointer;
                    }
                }
                .second{
                    margin-left: 10px;
                }             
            }
        }
    }
    .todo{
        min-width: 100%;
        box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 1rem;
        padding: 1rem;
        border-radius: 5px;
        font-size: 1.3rem;
        .todo-title{
            min-width: 80%; 
            text-align: start;
        }
        .delete{
            color: #f85904;
        }
        .checkbox{
            color: #f85904;
        }
        .completed{
            text-decoration: line-through;
        }
        .not-completed{
            text-decoration: none;
        }

    }
}
